
 .Green {
    color: greenyellow;
} li {
    font-family: fantasy;
} .Grey {
    color: darkgray;
} html {
    background: url("img/DistortedYanfightbackground.webp") no-repeat center fixed;
    background-size: cover;
} .Red {
    color: darkred;
}